/*:root {*/
/*    --bg-color: #c55252;*/
/*    --radius: 50%;*/
/*    --speed: 0, 4s;*/
/*}*/

/*body{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/


/*.card{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: var(--radius);*/
/*    background-color: var(--bg-color);*/
/*    transition: transform var(--speed);*/
/*}*/

/*.card:hover{*/
/*    transform: translateY(20%); scale: 1.25;*/

/*}*/

/*:root {*/
/*    --btn-color: #7c3aed;*/
/*    --btn-hover-color: #36196c;*/
/*    --speed: 0.5s*/
/*}*/

/*button{*/
/*    padding: 10px 15px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: var(--btn-color);*/
/*    color: white;*/
/*    font-size: 1.2rem;*/
/*    cursor: pointer;*/
/*    transition: background-color var(--speed), transform var(--speed);*/
/*}*/

/*button:hover{*/
/*    background-color: var(--btn-hover-color);*/
/*    transform: translate(-5px) scale(1.05);*/
/*}*/

:root {
    --bg-card: #211fif;
    --ray-color: #c9c325;
    --speed: 0.8s;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    width: 350px;
    height: 350px;
    background-color: var(--bg-card);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.ray{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: var(--bg-card);
    filter: blur(50px);
    border-radius: 50%;
    animation: ray-animation 6s infinite ease-in-out;
}

@keyframes ray-animation {
    0%{top: -20%; left: -20%;}
    25%{top: 60%; left: 70%; background: #b7bc7f;}
    50%{top: 30%; left: 10%; background: #e48147;}
    100%{top: -20%; left: -20%; background: var(--ray-color);}
}