*{
    font-family: sans-serif;
}


main{
    display: flex;
    justify-content: center;
}

article{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background: white;
    width: 800px;
}

h1{
    text-align: center;
    color: #307ef6;
}

p{
    text-align: center;
}

form{
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.inf{
    background: lightskyblue;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*column-gap: 1px;*/
    /*row-gap: 1px;*/
    /*grid-template-rows: 1fr 1fr;*/

}

.name{
    background: #d5bae0;
}

.dodat{
    background: #bad3e0;
}


button{
    width: 100%;
    height: 50px;
    background: lightskyblue;
    outline: none;
    border: none;
    border-radius: 7px;
}




label1{
    display: flex;
    position: relative;
    border: 1px solid red;
    width: 400px;
    justify-content: space-between;

}

.sur label{
    position: absolute;
    left: 25px;
    top: 25px;
}

label input{

}

form{
    //display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-rows: 1fr 1fr;
}

.row {
    display: flex;
    gap: 60px; /* Space between columns */

    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input,
textarea {
    //width: 200px;
    margin-top: 5px;
}

h2{
    margin: 0;
}

.rad{
    display: inline;
}