/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    font-family: sans-serif;
}

main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

article{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background: white;
    width: 800px;
}

h1{
    text-align: center;
    color: #307ef6;
}

p{
    text-align: center;
    color: #cacde0;
}

form{
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.inf{
    background: #d7e1f7;

}

.inf h2{
    color: #0603ab;
}

.name h2{
    color: #3d21db;
}

.name{
    background: #dcdbff;

}

.dodat{
    background: #eeedff;

}

.dodat h2{
    color: #7303ab;
}

button{
    width: 100%;
    height: 50px;
    background: #4e5cf5;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 400;
}


.sur label{
    position: absolute;
    left: 25px;
    top: 25px;
}



.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    padding: 10px;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

input,
textarea, select {
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    border-left: 3px solid #6993f0;
    outline: none;
    border-right: 2px solid #c5cee0;
    border-bottom: 2px solid #c5cee0;
    border-top: 2px solid #c5cee0;
    padding: 7px;
}


input, textarea, select, button:hover {
    border: 2px solid #cacde0;
}

input:focus, textarea:focus, select:focus {
    border: 2px solid #6993f0;
    outline: #4d63eb;
}


h2{
    margin: 0;
}

.rad{
    display: inline;
}

.sub{
    background:#e8eefa;
}

.submit:hover{
    -webkit-box-shadow: 20px 5px 20px 5px #6993f0 ;
    box-shadow: 20px 5px 20px 5px #6993f0 ;
}

.sub:hover{
    color: #6993f0;
    font-weight: 500;
}

.bottom-form{
    background: #d2e3fa;
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #8ebdfa;
}

.choose{
    background: #fdfdfd;
    padding: 5px;
}
.checksub{
    height: 90px;
    overflow: scroll;}
